body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    background-image: url("images.jpeg");
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
}

#rechner {
    background-color: rgb(241, 250, 238);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid rgb(136, 238, 95);
    padding: 5px;
    height: 100px;
    width: 300px;
    position: relative;
    box-shadow: 3px 3px 1px green
}

#eingabefeld {
    border: none;
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    top: 45px;
    left: 100px;
    cursor: pointer;
  }

  #schrift1 {
    position: absolute;
    left: 32px;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(110, 204, 160)
  }

  #schrift2 {
    position: absolute;
    left: 32px;
    top: 60px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(110, 204, 160)
  }

  #ausgabe {
    background-color: rgb(235, 230, 230);
    font-size: 18px;
    height: 25px;
    width: 50px;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 130px;
    border-radius: 5px;
    text-align: center;
  }