body {
    background-color: black;
    color: grey;
    text-align: center;
}

#button3 {
    background-color: rgb(34, 192, 171);
}

#container {
    width: 400px;
    height: 300px;
    display: block;
}

#header {
    font-size: 30px;
}

#bild {
    visibility: block;
    width: 500px;
}